.player-wrapper {
  /*position: relative;*/
  /*padding-top: 56.25%; !* Player ratio: 100 / (1280 / 720) *!*/
  /*width: 1vw;*/
}

.hero-video {
  /*object-fit: cover;*/
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  z-index: 1;
}

.pause-fade {
  opacity: 0.5;
}
