/*For anything custom that isn't appropriate for the overrideThemeStyles call*/

/** {*/
/*  !*width: 100%;*!*/
/*  !*height: 100%;*!*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

body {
  background-color: #010101;
  color: #F0ECE2;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #F0ECE2;
}