.header {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.sitetitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.navlink {
  display: block;
  padding: 6px;
}

a {
  text-decoration: none;
  box-shadow: none;
  /*color:blue;*/
  /*-o-transition:.5s;*/
  /*-moz-transition:.5s;*/
  /*-webkit-transition:.5s;*/
  transition:.5s;
}
a:hover { color:grey; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #EEE5E9;
}